starfellharbor.mooo.com {
    root * /usr/share/caddy
    file_server {
        precompressed gzip
    }
    encode gzip

    # Graceful handling for non-trailing slash assets or virtual routes
    try_files {path} {path}/ /index.html
}